@font-face {
  font-family: "SourceSansPro-Regular";
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */;
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url('fonts/SourceSansPro-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
}

p {
  margin-bottom: 1em;
}

/* HELPERS */

p.dashes {
  font-size: 2.25em;
  color: #008ed6;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin-bottom: 0.1em;
}

h3.titles {
  font-weight: bold;
  line-height: 0.5em
}

.darkgrey {
  color: #808185;
}

.jumbo {
  font-family: "SourceSansPro-Regular";
  font-size: 2.8em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.subtitles {
  color: #008ed6;
  font-family: "SourceSansPro-Bold";
  font-size: 14px;
  /* margin-top: 30px; */
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn-action {
  background-color: #008ED6;
  margin-right: 10px;
}

.btn-transparent {
  background-color: transparent;
  border-color: rgba(216, 216, 216, 50%);
}

button.btn {
  font-family: "SourceSansPro-Bold";
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
  width: 165px;
  height: 50px;
  letter-spacing: 0.05em;
  margin-top: 10px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* SECTIONS */

#navbar {
 background-color: #0f2644;
 color: #FFF;
 padding-top: 35px;
 padding-bottom: 30px;
}

#navbar .navbar {
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: #FFF;
  margin: 0 0 0 15px;
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #FFF;
  border-bottom: 2px solid #008ED6;
}

#navbar .logo {
 display: inline-block;
 font-family: "SourceSansPro-Bold";
 font-size: 3em;
 width: 180px;
 height: auto;
}

#header {
 background-color: #0f2644;
 color: #FFF;
 padding-bottom: 40px;
}

#header .top {
 margin-top: 30px;
 margin-bottom: 30px;
}

/* #header .logo {
 display: inline-block;
 font-family: "SourceSansPro-Bold";
 font-size: 3em;
 width: 180px;
 height: auto;
}

#header .nav-item a {
 color: #FFF;
}

#header h2 {
 font-size: 1.6em;
}

#header .menu {
 display: inline-block;
 float: right;
} */

#header p.subtitles {
  margin-top: 30px;
}

#header .contact-form-container {
  padding: 25px;
  background-color: #FFF;
  color: #1A1A1A;
  width: 377px;
  border-radius: 2px;
}

#header .contact-form-container h5 {
  font-size: 1.5em;
  margin-bottom: 0;
}

#header .contact-form-container p {
  color: #999;
  margin-bottom: 2em;
}


#contactForm .form-control {
  font-size: 0.8em;
  padding: .75em 1.1em;
}

.message-error {
  background: #ffabab;
  color: #a94442;
  display: none;
}

.message-success {
  background: #86f5a8;
  color: #238441;
  display: none;
}

.message-success, .message-error {
  border-radius: 2px;
  padding: 7px 20px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 0!important;
}

/* CONTENT */
#content .dreysac, #content .products, #content .team, #content .usage {
  margin-top: 100px;
  margin-bottom: 50px;
}

#content .products .product {}

#content .staff {
  text-align: center;
}

#content .staff img {
  margin: 20px auto;
}

#content p.staff-name {
  text-transform: uppercase;
}

#content .usage {
  text-align: center;
}
