@font-face {
  font-family: "SourceSansPro-Regular";
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */;
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url('fonts/SourceSansPro-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* DOCUMENT CSS */

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
}

p {
  margin-bottom: 1em;
}

h6 {
  font-size: 18px;
}

hr {
  border-top: 1px solid rgb(153,153,153);
  border-top: 1px solid rgba(153,153,153,30%);
}

/* HELPERS */

p.dashes {
  font-size: 2.25em;
  color: #008ed6;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin-bottom: 0.1em;
}

div.longdash {
  border-bottom: 1px solid #6e45e2;
  width: 80px;
  margin-bottom: 10px;
}

h3.titles {
  font-weight: bold;
  line-height: 0.5em;
  letter-spacing: 0.03em;
}

.darkgrey {
  color: #999;
}
.white {
  color: #FFF;
  color: rgba(255,255,255,80%);
}
.italics {
  font-style: italic;
}

.jumbo {
  font-family: "SourceSansPro-Regular";
  font-size: 2.8em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.subtitles {
  color: #008ed6;
  font-family: "SourceSansPro-Bold";
  font-size: 14px;
  /* margin-top: 30px; */
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn-action {
  background-color: #008ED6;
  margin-right: 10px;
}

.btn-transparent {
  background-color: transparent;
  border-color: rgba(216, 216, 216, 50%);
}

a.btn {
  font-family: "SourceSansPro-Bold";
  text-transform: uppercase;
  color: #FFF;
  font-size: 13px;
  width: 165px;
  letter-spacing: 0.05em;
  margin-top: 10px;
  padding: 15px;
  transition: all 0.35s ease;
}

a.btn:hover {
  transform: scale(1.01);
  box-shadow: 0 1px 18px rgba(187,187,187,0.50);
}

a:focus {
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 100;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* SECTIONS */

#navbar {
 background-color: #0f2644;
 color: #FFF;
 padding-top: 35px;
 padding-bottom: 30px;
}

#navbar .navbar {
  padding: 8px 11% 10px;
  background-color: rgba(15,38,68);
}

.navbar-light .navbar-nav .nav-link {
  color: #FFF;
  margin: 0 0 0 15px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #FFF;
  border-bottom: 2px solid #008ED6;
}

#navbar .logo {
 display: inline-block;
 font-family: "SourceSansPro-Bold";
 font-size: 3em;
 width: 180px;
 height: auto;
}

#header {
 background-color: #0f2644;
 color: #FFF;
 padding: 40px 0 60px;
}

#header .top {
 margin-top: 30px;
 margin-bottom: 30px;
}

#header p.subtitles {
  margin-top: 30px;
}

#header .contact-form-container {
  padding: 25px;
  background-color: #FFF;
  color: #1A1A1A;
  width: 377px;
  border-radius: 2px;
}

#header .contact-form-container h5 {
  font-size: 1.5em;
  margin-bottom: 0;
}

#header .contact-form-container p {
  color: #999;
  margin-bottom: 2em;
}

#header a.btn:hover,
#blog a.btn:hover {
  box-shadow: 0 1px 18px rgba(0,0,0,0.30);
}

.form-control {
  font-size: 0.8em;
  padding: .75em 1.1em;
}

.message-error {
  background: #ffabab;
  color: #a94442;
  display: none;
}

.message-success {
  background: #86f5a8;
  color: #238441;
  display: none;
}

.message-success, .message-error {
  border-radius: 2px;
  padding: 7px 20px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 0!important;
}

/* CONTENT */
#content .dreysac, #content .products, #content .team, #content .usage, #blog {
  padding-top: 50px;
  padding-bottom: 80px;
}

#content .dreysac {
  padding-top: 50px;
}

#content .staff {
  text-align: center;
}

#content .staff img {
  margin: 20px auto;
}

#content p.staff-name {
  margin-bottom: 0;
  text-transform: uppercase;
}

#content .staff p {
  font-size: 13px;
  letter-spacing: 0.05em;
}

#content .usage {
  text-align: center;
}

#content .products {
  padding-bottom: 0;
}

#content .products .product {
  padding: 50px 0;
}

#content .products .product img {
  margin: 35px auto 0;
}

/* CAROUSEL */

#products .owl-carousel .owl-stage-outer {
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #999;
  border: 1px solid rgba(153,153,153,30%);
  border-radius: 1px;
  box-shadow: 0 3px 22px -7px #777;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(60px);
}

#products .owl-carousel .item .container {
  width: 95%;
}

#products .owl-carousel .item .comment {
  font-size: 90%;
}

#products .owl-carousel .item p.subtitles {
  margin-top: 20px;
}

#products .owl-carousel .item .comment h3.titles {
  font-size: 24px;
  line-height: 1em;
}

#products .owl-carousel .item .comment p.darkgrey {
  padding-top: 20px;
}

#products .owl-theme .owl-nav {
  margin-top: -100px;
  margin-bottom: 40px;
  position: relative;
}

#products .owl-carousel .owl-nav button.owl-prev {
  transform: translateX(-360px);
}

#products .owl-carousel .owl-nav button.owl-next {
  transform: translateX(360px);
}

#products .owl-carousel .owl-nav button.owl-prev,
#products .owl-carousel .owl-nav button.owl-next {
  color: #999;
  background-color: #FFF;
  /*border: 1px solid #999;*/
  border-radius: 50%;
  box-shadow: 0 3px 22px -7px #777;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.30);
  font-size: 2em;
  padding: 0px 22px 4px!important;
  transition: all .15s ease-in-out;
}

#products .owl-carousel .owl-nav button.owl-prev:hover,
#products .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #008ed6;
  color: #FFF;
}

#products .owl-carousel .owl-nav button.owl-prev:focus,
#products .owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

/* CLIENTES */

#clients {
  padding: 150px 0 120px;
  background-color: #05447d;
}

#clients h3.titles, #clients p.description {
  letter-spacing: 0.03em;
}

#clients p.description {
  color: rgba(255,255,255,80%);
  font-size: 14.4px;
}

#clients img {
  margin-bottom: 20px;
}

/* TESTIMONIALS */

#testimonials {
  background-color: #000;
  padding: 60px 0;
}

#testimonials .owl-carousel.owl-drag .owl-item {
  margin-top: 50px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 50px;
}

#testimonials h3 {
  letter-spacing: 0.03em;
}

#testimonials p.white.italics {
  font-size: 1.2em;
}

#testimonials .avatar {
  padding: 0;
}

#testimonials .avatar-info {
  padding: 5px 0;
}

#testimonials .avatar-info p {
  margin-bottom: 0;
}

#testimonials .avatar img {
  border-radius: 50%;
  width: 60px;
  height: auto;
}

/* BLOG SECTION  */

#blog {
  background-color: #FFF;
  padding: 100px 0;
}

#blog a.visit {
  transform: translateX(280%) translateY(-200%);
}

#blog .container-fluid {
  padding: 0;
}

#blog .row.data {
  padding-top: 25px;
}

#blog .row.data .col-md-8,
#blog .row.data .col-md-2 {
  padding-left: 0;
  padding-right: 0;
}

#blog .item {
  border: 1px solid rgba(153,153,153,30%);
  border-radius: 10px;
  box-shadow: 0 3px 22px -7px #777;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  padding: 45px 50px;
  margin-bottom: 20px;
}

#blog .container-fluid > .row {
  margin-left: 0;
  margin-right: 0;
}

#blog .container-fluid .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

#blog .item h6 {
  font-size: 1.6em;
}

#blog .item .date {
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

#blog .item i, #blog .item p.comments {
  display: inline-block;
}

#blog .item p.comments {
  margin-left: 10px;
}

#blog .item img {
  border-radius: 5px;
  width: 50px;
  height: auto;
  float: right;
}

/* CONTACT SECTION  */

#contact {
  background-color: #EDEDED;
  padding-top: 60px;
  position: relative;
  z-index: 2;
}

#contact .contact-us {
  margin-bottom: 50px;
}

#contact i {
  margin-bottom: 20px;
  color: #008ed6;
  font-size: 1.5em;
}

#contactForm2 {
  background-color: #15141a;
  padding: 50px 60px 25px;
  transform: translateY(60px);
}

#contactForm2 .form-control {
  color: #999;
  background-color: #15141a;
  border: 1px solid #999;
}

#contactForm2 #name2,
#contactForm2 #email2 {
  margin-bottom: 17px;
}

#contactForm2 a.btn {
  float: right;
  margin-right: 0;
}

/* GOOGLE MAP */

#map {
  height: 375px;
  width: 100%;
  z-index: 1;
}

/* FOOTER */
footer {
  background-color: #15141a;
  padding: 50px 0 30px;
}
div.social-media {
  margin: 0 auto 20px;
  width: 200px;
}

div.social-media i {
  color: #999;
  transition: all 0.35s ease;
}

div.social-media i:hover {
  color: black;
  color: #008ed6;

}

div.copyright {
  font-size: 0.8em;
  margin: 0 auto;
  width: 400px;
}


.activated {
  color: red;
  border-top: 1px solid green;
  font-style: italic;
  background-color: white;
}

/* MEDIA QUERIES */
